.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 6px;

}

.search-bar input{
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #626262;
    background: #ebfffc;
}
.search-bar img{
    cursor: pointer;
    padding: 7px;
    border-radius: 6px;
    background: #ebfffc;
}

.weather-icon{
    width: 100px;
    height: 100px;
    margin: 20px 0;
}
.temperature{
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}
.location{
    color:#ffffff;
    font-size: 24px;
}
.weather-data{
    display:flex;
    margin-top: 30px;
    color: #ffffff;
    width: 100%;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
}
.weather-data .col span{
    display: block;
    font-size: 12px;
}
.weather-data .col img{
    width: 26px;
    margin-top:10px ;
}